@using Microsoft.AspNetCore.Identity
@using AquaFlow.Areas.Identity.Data

@inject SignInManager<AquaFlowUser> SignInManager
@inject UserManager<AquaFlowUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="flex-shrink-0 ms-2">
        <button type="button" class="d-block ms-auto btn btn-outline-primary">
            <i class="bi bi-cart-fill"></i>
        </button>
    </div>
}
