<ul class="nav nav-pills flex-column p-1 rounded-3 border">
    <li class="nav-item"><a class="nav-link @ManageAdminPages.OrdersNavClass(ViewContext)" id="orders" asp-page="./Orders/Index">Orders</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminPages.ProductsNavClass(ViewContext)" id="products" asp-page="./Products/Index">Products</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminPages.UsersNavClass(ViewContext)" id="users" asp-page="./Users/Index">Users</a></li>
</ul>
