@{
    ViewData["Title"] = "About Us";
}

<div class="p-5 text-center bg-primary">
    <h1 class="text-white">About Us</h1>
</div>

<section>
    <div class="container my-5">
        <p class="lead">
            AquaFlow is dedicated to providing clean and refreshing water to your doorstep. We
            understand the importance of access to quality water, and we strive to make it convenient for you.
        </p>

        <p>
            We source our water from natural springs and ensure it undergoes rigorous testing to meet the highest
            standards of purity. Our delivery service is designed to be reliable and efficient, ensuring that you
            always have access to the water you need.
        </p>

        <p>
            At AquaFlow, we are committed to sustainability. Our packaging is eco-friendly, and we actively
            participate in water conservation initiatives. Join us in our mission to make pure and sustainable water
            accessible to all.
        </p>
    </div>
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="text-body-emphasis">Our Mission</h1>
        <p class="lead">
            Our mission is to provide pure and sustainable water to households and businesses, ensuring hydration and
            well-being for all our customers.
        </p>
        <img src="https://s3.amazonaws.com/aquaflow.assets/about-us-img.jpg" class="col-8 mt-5 rounded-3" />
    </div>
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 text-center">Why Choose AquaFlow?</h2>
        <div class="row g-4 pt-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-moisture"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">High-quality, purified water</h3>
                <p>Our water undergoes rigorous testing to meet the highest standards of purity.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-truck"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Reliable and timely delivery</h3>
                <p>Our delivery service is designed to be reliable and efficient.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-box-seam"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Eco-friendly packaging</h3>
                <p>We are committed to using eco-friendly packaging for a sustainable future.</p>
            </div>
        </div>
        <div class="row g-4 pb-5 pt-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-recycle"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Commitment to sustainability</h3>
                <p>We actively participate in water conservation initiatives for a greener planet.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-headset"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Exceptional customer service</h3>
                <p>Our dedicated team is here to provide you with the best customer experience.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-person-heart"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Personalized Delivery Service</h3>
                <p>Experience the difference with our tailored solutions to your unique water needs.</p>
            </div>
        </div>
    </div>
</section>