@{
    ViewData["Title"] = "Community";
}

<div class="p-5 text-center bg-primary">
    <h1 class="text-white">Community</h1>
</div>

<section>
    <div class="container my-5">
        <h2 class="text-bold">Welcome to AquaFlow Community!</h2>
        <p class="lead">
            AquaFlow holds the belief that the availability of clean water is an essential rights that should be accessible to everyone.  
            The dedication to delivering water of the highest calibre and promoting sustainable practises within a community is a fundamental aspect of our mission. 
            This commitment extends beyond the mere provision of doorstep delivery, as it aims to foster a collective awareness for pure water and its preservation.
        </p>
        <div class="p-5 text-center bg-body-tertiary">
            <h1 class="text-body-emphasis">Get Involved</h1>
            <p class="lead">
                Your Story: Have an inspiring findings about the significance of clean water in your life? We'd love to hear it!
                Your experiences can inspire others and help spread awareness.
            </p>
            <p class="lead">
                Community Discussions: Engage in discussions on water-related topics, sustainability, and environmental issues. 
                Connect with individuals who share your passion and exchange ideas for a better, cleaner future.
            </p>
            <p class="lead">
                Volunteer Opportunities: Stay updated on volunteer programs or initiatives aimed at promoting clean water and environmental conservation. 
                Make a tangible difference by joining us in various community projects.
            </p>
            <img src="https://s3.amazonaws.com/aquaflow.assets/community.png" class="col-8 mt-5 rounded-3" />
        </div>
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 text-center">Our Community Values</h2>
            <div class="row g-4 pt-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="bi bi-moisture"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Clean Water Advocacy</h3>
                    <p>We encourage to be involved in our efforts to advocate for the global accessibility of clean and potable water.
                       Do provide your insights, narratives, and concepts on how we can collectively promote this essential resource.
                    </p>
                </div>
                <div class="feature col">
                    <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="bi bi-truck"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Sustainability Initiatives</h3>
                    <p>Our company is committed to environmental sustainability through
                       various initiatives, such as utilising eco-friendly packaging
                        and actively engaging in water conservation initiatives.
                    </p>
                </div>
                <div class="feature col">
                    <div class="feature-icon px-2 d-inline-flex rounded align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <i class="bi bi-box-seam"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">Educational Resources</h3>
                    <p>Explore educational content about water purity, conservation tips, 
                       and the importance of sustainable practices. 
                       Learn how small actions can contribute to significant changes for our planet.
                    </p>
                    
                   
                <div/>
            </div>
                    
    </div>
    </div>
        </div>
</section>
    