@{
    ViewData["Title"] = "Privacy Policy";
}

<section>
    <div class="container py-4">
        <p><strong>Last Updated:</strong> 11 November 2023</p>

        <p>At AquaFlow, we are committed to protecting the privacy of our users. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website. By accessing or using our website, you consent to the terms outlined in this policy.</p>

        <p><strong>1. Information We Collect:</strong></p>
        <ul>
            <li>We may collect personal information such as name, email address, etc., when you register, sign up, use our services, etc.</li>
        </ul>

        <p><strong>2. How We Use Your Information:</strong></p>
        <ul>
            <li>We use the collected information to personalize content, analyze usage, etc.</li>
        </ul>

        <p><strong>3. Information Sharing:</strong></p>
        <ul>
            <li>We do not sell, trade, or otherwise transfer your personal information to third parties unless we provide you with advance notice.</li>
        </ul>

        <p><strong>4. Security:</strong></p>
        <ul>
            <li>We implement a variety of security measures to maintain the safety of your personal information.</li>
        </ul>

        <p><strong>5. Cookies:</strong></p>
        <ul>
            <li>We may use cookies to personalize content, analyze usage, etc.</li>
        </ul>

        <p><strong>6. Third-Party Links:</strong></p>
        <ul>
            <li>Our website may contain links to third-party websites. These third-party sites have separate and independent privacy policies.</li>
        </ul>

        <p><strong>7. Changes to This Privacy Policy:</strong></p>
        <ul>
            <li>We reserve the right to update or modify this Privacy Policy at any time without prior notice. Please review this page periodically.</li>
        </ul>

        <p><strong>8. Contact Information:</strong></p>
        <ul>
            <li>If you have any questions or concerns regarding this Privacy Policy, please contact us at <a href="mailto:contact@aquaflow.com">contact@aquaflow.com</a>.</li>
        </ul>

        <p class="mt-4">
            <strong>
                By using our website, you signify your acceptance of this Privacy Policy.
            </strong>
        </p>
    </div>
</section>
