@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container-sm">
        <form style="max-width:520px;" class="mx-auto" id="account" method="post">
            <ul class="nav border rounded-3 p-1 nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" role="tab"
                       aria-controls="pills-login" aria-selected="true" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" role="tab"
                       aria-controls="pills-register" aria-selected="false" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </li>
            </ul>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="d-flex mb-3 justify-content-between">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div>
                <p class="mt-3 text-center">
                    Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
