<footer class="py-3 bg-primary">
    <div class="d-flex my-4 flex-wrap justify-content-between align-items-center container">
        <p class="col-md-4 mb-0 text-white-50">© 2023 AquaFlow</p>

        <a class="text-white-50 navbar-brand d-flex align-items-center gap-2" asp-area="" asp-controller="Home" asp-action="Index">
            <img width="32" height="32" src="https://s3.amazonaws.com/aquaflow.assets/logo.png" />
            AquaFlow
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Community">Community</a>
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Partners">Partners</a>
            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </ul>
    </div>
</footer>