@model List<Order>

@if (Model != null && Model.Any())
{
    <h6 class="dropdown-header">Orders</h6>
    <ul class="list-unstyled">
        @foreach (var order in Model)
        {
            <li>
                <a class="dropdown-item" href="#">
                    <strong>Order ID:</strong> @order.OrderID<br />
                    <strong>Order Date:</strong> @order.OrderDate<br />
                    <strong>Total Amount:</strong> @order.TotalAmount.ToString("C")
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="dropdown-item-text">No orders available.</p>
}
